      body {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .judul {
        font-size: xx-large;
        font-size: 10rem;
      }

      h1 {
        margin-bottom: auto;
      }

      .div {
        margin-top: 0px;
        color: silver;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      a {
        background-color: rgb(58, 58, 255);
        color: white;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10rem;
        height: 2.5rem;
        font-size: large;
        border-radius: 5px;
      }

      a:hover {
        background-color: darkblue;
      }